In [1]:
import pandas as pd
# settings to display all columns
pd.set_option("display.max_columns", None)
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets
from scipy.stats import linregress

In [14]:
data1 = "Data/HistoricalData_JCI.csv"
data2 = "Data/HistoricalData_ARCB.csv"
data3 = "Data/HistoricalData_SNX.csv"
data4 = "Data/HistoricalData_IP.csv"
data5 = "Data/HistoricalData_TXRH.csv"

jci = pd.read_csv(data1)
arcb = pd.read_csv(data2)
snx = pd.read_csv(data3)
ip = pd.read_csv(data4)
txrh = pd.read_csv(data5)

In [15]:
txrh.head()

         Time   Open   High      Low   Last  Change    %Chg     Volume
0  11/08/2021  95.56  95.72  92.2300  92.73   -3.02  -3.15%   746819.0
1  11/01/2021  89.00  96.11  87.2041  95.75    6.94  +7.81%  1021355.0
2  10/25/2021  89.94  93.53  85.8600  88.81   -0.80  -0.89%  1302502.0
3  10/18/2021  88.31  91.95  85.8100  89.61    0.48  +0.54%   979220.0
4  10/11/2021  92.73  94.50  87.9200  89.13   -3.64  -3.92%   668880.0

In [16]:
merge = [jci,arcb,snx,ip,txrh]
bot5 = pd.concat(merge)

In [17]:
bot5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1275 entries, 0 to 254
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    1275 non-null   object
 1   Open    1270 non-null   float64
 2   High    1270 non-null   float64
 3   Low     1270 non-null   float64
 4   Last    1270 non-null   float64
 5   Change  1270 non-null   float64
 6   %Chg    1270 non-null   object
 7   Volume  1270 non-null   float64
dtypes: float64(6), object(2)
memory usage: 89.6+ KB

In [18]:
bot5.dropna()

           Time   Open   High     Low   Last  Change    %Chg     Volume
0    11/08/2021  75.57  75.89  74.215  74.47   -0.16  -0.21%  3054996.0
1    11/01/2021  73.30  74.81  71.910  74.63    1.26  +1.72%  3566020.0
2    10/25/2021  73.88  74.45  71.700  73.37   -0.50  -0.68%  3249260.0
3    10/18/2021  70.71  74.67  70.620  73.87    2.57  +3.60%  2676220.0
4    10/11/2021  68.74  72.36  67.960  71.30    2.29  +3.32%  3196280.0
..          ...    ...    ...     ...    ...     ...     ...        ...
249  01/30/2017  45.83  46.92  45.200  46.20   -0.12  -0.26%   474540.0
250  01/23/2017  46.18  47.08  45.600  46.32   -0.07  -0.15%   525560.0
251  01/16/2017  47.21  47.81  45.590  46.39   -0.57  -1.21%   500825.0
252  01/09/2017  45.47  47.55  45.040  46.96    1.26  +2.76%   807580.0
253  01/02/2017  48.55  49.24  45.610  45.70   -2.54  -5.27%  1004025.0

[1270 rows x 8 columns]

In [19]:
bot5.to_csv('bot5Diversity.csv', index=True)